html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

header {
    /* background: #F4BBC9; */
    padding: 1vh 5vw;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    font-family: "Playfair Display";
    font-weight: 500;
}

navbar .logo {
    display: flex;
    align-items: center;
}

navbar .logo img {
    height: 30px;
}

navbar .logo a {
    text-decoration: none;
    color:#000;
    margin: 2vh 0;
    font-style: italic;
    font-weight: 700;
    padding-left: 10px;
}

navbar div#navlinks ul {
    display: flex;
    padding: 0 2vw;
    list-style: none;
}

navbar div#navlinks ul li a{
    padding: 1vh 2vw;
    text-decoration: none;
    color: #000;
}

navbar div#navlinks ul li :hover {
    background: #F4BBC9;
    color: #fff;
    border-radius: 20px;
}

navbar div#navlinks ul li a:active {
    background: #F4BBC9;
    border-radius: 20px;
}

div#hamburger {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 2vw;
    list-style: none;
}

div#hamburger ul {
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    text-align: right;
    background: #F191AC;
}

div#hamburger ul li {
    padding: 10px;
}

div#hamburger ul li a{
    padding: 1vh 2vw;
    text-decoration: none;
    color: #fff;
}

div#hamburger ul li :hover {
    background: #F4BBC9;
    border-radius: 20px;
}

div#hamburger ul li a:active {
    background: #F4BBC9;
    border-radius: 20px;
}

.button a {
    background: #F191AC;
    color: #fff;
    padding: 10px 20px;
    font-family: "Open Sans";
    font-size: small;
    text-decoration: none;
    border-radius: 20px;
}

navbar .menu {
    text-decoration: none;
    text-emphasis: none;
    color: #000;
}

navbar .fa-bars {
    display: none;
    
}

@media screen and (max-width: 600px) {
    navbar div {
        display: inline;
    }
    navbar div#navlinks {
        display: none;
    }
    navbar .fa-bars {
        display: inline;
        padding: 1vh 3vw;
    }
}

section#cover {
    margin: 3vh 10%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    section#cover {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (min-width: 1600px) {
    section#cover {
        padding: 0px 15%;
    }
}

section#cover .introduction {
    padding: 3%;
    font-family: "Playfair Display";
}

section#cover .introduction h1{
    font-weight: 700;
}

section#cover .introduction p{
    font-family: "Open Sans";
    padding-bottom: 10px;
}

section#cover .introduction div {
    display: inline;
}

section#cover .introduction div i {
    text-decoration: none;
    color: #000;
    padding-left: 15px;
}

section#cover img {
    margin: 3%;
    border-radius: 20px;
    width: 40%;
}

@media screen and (max-width: 800px) {
    section#cover img {
        width: 90%;
    }
}

section#quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #89d6ff;
    border-radius: 20px;
    padding: 20px;
    margin: 3vh 20%;
    font-family: "Open Sans";
}

@media screen and (max-width: 800px) {
    section#quote {
        margin: 3vh 10%;
    }
}

@media screen and (min-width: 1600px) {
    section#quote {
        margin: 3vh 30%;
    }
}

section#quote h1 {
    font-family: "Playfair Display";
    margin: 0px;
    font-weight: 700;
}

section#quote b {
    display: none;
}

section#quote a {
    text-decoration: none;
    color:#fff;
    background: #0075b2;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px;
}

section#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

section#signup div {
    margin: 5vh;
}

section#signup div h1 {
    font-family: "Playfair Display";
    font-weight: 800;
}

section#signup div p {
    font-family: "Open Sans";
}

section#signup .button {
    display: none;
}

@media screen and (max-width: 640px) {
    section#signup iframe {
        display: none;
    }
    section#signup .button {
        display: inline;
    }
}

section#about {
    margin: 0 20%;
    padding-bottom: 10%;
}

@media screen and (max-width: 1300px) {
    section#about {
        margin: 0 10%;
    }
}

section#about .title {
    text-align: center;
    font-family: "Playfair Display";
    font-size: 3em;
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
    section#about .title {
        font-size: 2em;
    }
}

section#about section#founders .person{
    display: flex;
    font-family: "Open Sans";
}

section#about section#founders .person-alt{
    flex-direction: row-reverse;
}

@media screen and (max-width: 800px) {
    section#about section#founders .person {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 20px;
    }
}


section#about section#founders .bio {
    margin: 0 20px;
    padding: 20px;
}

section#about section#founders .socials a{
    font-size: 1.5em;
    padding-right: 10px;
    text-decoration: none;
    color: #000;
}

section#about section#founders .photo {
    width: 30%;
    border-radius: 50%;
}
